* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  
}

.header{
    
    background-color: #F3FCF7;
    max-width: 1170px;
    margin:0 auto;
    

}

.navbar{
    display: flex;
    gap: 180px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.nav-right {
  display: flex;
  gap: 44px;
  justify-content: center;
  align-items: center;
}

ul{
    display: flex;
    gap: 40px;
}
ul li{
    list-style-type: none;

}
.banner-left h1{
    font-weight: 600;
    font-size:75px;
    line-height: 100%;
}

.banner-left{
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.banner-left p{
    font-weight: 400;
    font-size:16px;
    line-height: 142%;
    letter-spacing: 0%;

}

.banner-footer{
    display: flex;
    gap:58px;
    padding: 40px 172px;
}


.width{
    width: 70%;
}

.p-width{
    width:50%;
}
.banner{
    position: relative;
    background-color: #F3FCF7;
    padding: 64px 172px;

}
.banner-right{
    position:absolute;
    right:300px;
    top: 140px;
}

.polcadot{
    z-index: 1;
    position:absolute;
    right:140px;
    top: 615px;
}


.sticker-1{
    background-color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 6px 7px;
    border-radius: 30px;
    right:140px;
    top: 350px;
}
.sticker-2{
    background-color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 30px;
    right:500px;
    top: 420px;
}

.sticker-1 p{
    padding-right: 8px;
}
.sticker-2 p{
    padding-right: px;
}

.icon-background{
     background-color: #F3FCF7;
     width: 70px;
     height: 70px;
     border-radius: 14px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.features{
    display:flex;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

.paragraph-1{
    
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
}
.paragraph-2{
    
    font-size: 14px;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
    letter-spacing: 0;
}

.all-flex{
    display: flex;
    gap: 112px;
    justify-content: space-evenly;
    align-items: center;
}

.service-detail{
    padding: 64px 172px;
}

.checklist{
    padding-right: 22px;
}

.benefit-gap{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.benefit-flex{
    display: flex;
    gap: 84px;
    justify-content: center;
    align-items: center;
}

.benefit-right h1{
    width: 60%;
}
.quantity{
    color: #06C167;
    font-family: Inter;
    font-weight: 600;
    font-style: medium;
    font-size: 40px;
    margin: 0;
    
    
}

.name{
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 0;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.starbox{
    display: flex;
    gap: 84px;
    justify-content:flex-start;
    align-items: center;
    padding: 56px 0px;
}

.starsection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.btn-banner{
    background-color: #06C167;
    width: 233px;
    height: 79px;
    opacity: 1;
    border: none;
    color: #FFFFFF;
    display: flex;
    gap: 16px;
}
.btn-star{
    background-color: #06C167;
    width: 233px;
    height: 79px;
    opacity: 1;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.feature-section h1{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

}

.feature-section p{
    font-family: Inter;
font-weight: 400;
font-style: normal;
font-size: 16px;


}

.btn-discover{
    background-color: #e6f9f0;
    color: #06C167;
    width: 148px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2,292px);
    gap:0px ;
}

.feature-section{
    background-color: #f4fcf7;
    padding-left: 38px;
    padding-top: 38px;
    padding-bottom: px;
}
.feature-heading{
    width: 50%;
}

.feature-paragraph{
     width: 40%;
}

.object-fit{
    object-fit: contain;
}

.overflow{
    overflow: hidden;
}

.product-card{
    width: 270px;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border: 2px solid #dddddd;
    padding-top: 25px;
    padding-bottom: 30px;
    box-sizing: border-box;
    
}



.card{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.star{
    margin-top: -17px;
    margin-bottom: -17px;
}

.btn-buy{
    color: #06C167;
    border: 2px solid #06C167;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-right: 30px;        
    padding-left: 30px;   
    z-index: 1;     
}

.green-arrow{
    width: 22px;
    height: 11px;
}

.card-pragraph{
    margin-top: px;
}

.product-card:hover {
  border-color: #06C167;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-left p{
    width: 40%;
}

.footer-section{
    display: flex;
}
.footer-heading{
    padding-bottom: 40px ;
}

.footer-right{
    display: flex;
    gap: 96px;
}

.getintouch input{
    width: 205px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;

}

.getintouch button{
    width: 118px;
    height: 50px;
    background-color: #06C167;
    color: white;

}



.copyright{
    text-align: center;
}

footer{
    max-width: 1170px;
    margin: 0 auto;
}

section{
    max-width: 1170px;
    margin: 0 auto;
}

.background-image{
    background-image:url('/asset/4734847b5bd31c1a9cdcd022e9265cf12aca7e6b.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
.background-image:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); 
}

.Ingredient-heading{
    color: #FFFFFF;
    width: 40%;
    text-align: center;
    z-index: 1;
}

.btn-ingredient div{
    z-index: 1;
}

.btn-ingredient{
    background-color: #06C167;
    width: 233px;
    height: 79px;
    opacity: 1;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    z-index: 1;
}